Repository ferrum56/personal-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

ci: improved node CI with parallel execution
  .github/workflows/node-ci.yml
  .github/workflows/node.js.yml
Due: none

ci: attempt to fix windows corepack failing by using CMD
  .github/workflows/node-ci.yml
Due: none

ci: another attempt to fix windows
  .github/workflows/node-ci.yml
Due: none

ci: third attempt to fix windows
  .github/workflows/node-ci.yml
Due: none

ci: remove all windows changes
  .github/workflows/node-ci.yml
Due: none

chore: update ignore files for coverage directory
  .prettierignore
  eslint.config.mjs
Due: none

chore: add EOL rules to enforce LF endings
  .editorconfig
  .gitattributes
Due: none

feat: add a simple footer to the website
  content/social-links.ts
  src/components/BaseFooter.vue
Due: eslint, prettier --write

refactor: separate routes for use in generating navigation
  src/router/index.ts
  src/router/routes.ts
Due: eslint, prettier --write

chore: small improvements in config and doc
  LICENSE
  README.md
  vite.config.ts
Due: eslint, prettier --write

style: add the NovecentoSansWide font
  src/assets/fonts/novecento-sans-wide-normal.woff2
  src/font.css
  src/main.ts
Due: eslint, prettier --write

feat: simple functional navbar and footer
  src/App.vue
  src/components/BaseFooter.vue
  src/components/BaseNavbar.vue
  src/router/routes.ts
  src/style.css
Due: eslint, prettier --write

build: fix small build import issue
  src/components/BaseFooter.vue
  tsconfig.app.json
  vite.config.ts
Due: eslint, prettier --write

Happy New Year
  vite.config.ts
Due: eslint, prettier --write

chore: change nav labels to capitalized string
  src/router/routes.ts
  src/utils/string-util.ts
Due: eslint, prettier --write

test: new router and util tests
  test/router.test.ts
  test/utils.test.ts
Due: eslint, prettier --write

refactor: move content folder into src
  src/components/BaseFooter.vue
  src/content/social-links.ts
Due: eslint, prettier --write

refactor: move content type definitions to new file
  src/content/social-links.ts
  src/content/types.ts
Due: eslint, prettier --write

test: temporarily disable broken tests
  src/router/routes.ts
  test/router.test.ts
  test/utils.test.ts
Due: eslint, prettier --write

feat: add static data file for homepage
  src/content/intro.ts
  src/content/types.ts
Due: eslint, prettier --write

fix: typo in intro.ts
  src/content/intro.ts
Due: eslint, prettier --write

style: add the Titillium Web font
  src/assets/fonts/titillium-web-v17-latin-italic.woff2
  src/assets/fonts/titillium-web-v17-latin-regular.woff2
  src/font.css
Due: prettier --write

chore: add function for parsing custom link token in text
  eslint.config.mjs
  src/utils/string-util.ts
  test/utils.test.ts
Due: eslint, prettier --write

feat: simple functional homepage
  src/components/SmartLink.vue
  src/components/TextSection.vue
  src/views/HomeView.vue
Due: eslint, prettier --write

style: add theme colours globally
  src/style.css
Due: prettier --write

style: add link decorations
  src/components/SmartLink.vue
Due: eslint, prettier --write

chore: update Vue indent rule for attribute alignment
  eslint.config.mjs
  src/components/BaseFooter.vue
Due: eslint, prettier --write

style: add the Bender font
  src/assets/fonts/jovanny-lemonad-bender.woff2
  src/font.css
Due: prettier --write

style: initial design for homepage
  package.json
  src/components/TextSection.vue
  src/style.css
  src/views/HomeView.vue
Due: eslint, prettier --write

fix: missing optional chaining causes build issues
  package.json
  src/components/TextSection.vue
Due: eslint, prettier --write

feat: a new decoration panel on the left with current page
  README.md
  package.json
  src/App.vue
  src/components/DecorationPanel.vue
  src/style.css
Due: eslint, prettier --write

style: add custom scrollbar
  src/style.css
Due: prettier --write

style: modify current font types
  src/assets/fonts/novecento-sans-wide-bold.woff2
  src/assets/fonts/titillium-web-v17-latin-italic.woff2
  src/components/DecorationPanel.vue
  src/font.css
Due: eslint, prettier --write

test: simple test for global variables
  test/main.test.ts
Due: eslint, prettier --write

chore: add type declarations for Vite global constants
  src/vite-env.d.ts
Due: eslint, prettier --write

style: footer design rework
  eslint.config.mjs
  package.json
  src/components/BaseFooter.vue
Due: eslint, prettier --write

chore: add favicon and enhance browser tab
  index.html
  public/favicon.svg
  src/assets/logo-black.svg
  src/main.ts
Due: eslint, prettier --write

style: navbar rework and some slight refactor
  package.json
  src/App.vue
  src/assets/logo-black.svg
  src/components/BaseNavbar.vue
  src/views/HomeView.vue
Due: eslint, prettier --write

build: fix route name type issues
  src/components/DecorationPanel.vue
  src/main.ts
Due: eslint, prettier --write

chore: add emojis to README
  README.md
Due: none

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{html,css})
